/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: 'Inherit';
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    font-family: 'Rosario';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: rgba(34, 34, 34, 1);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;  
}
.wrapper {
    max-width: 1270px;
    margin: 0 auto;
    padding: 15px;
}

.title {
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    color: #222222;
}
.subtitle {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #555555;
}
/* Header styles start */
.header__nav__burger,
.header__item-burger {
    display: none;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 35px 15px 28px 15px;
    max-width: 1270px;
    margin: 0 auto;
}
.header__link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #222222;
    text-decoration: none;
}
.header__list {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
.header__item {
    margin-right: 40px;
}
.header__item:last-child {
    margin-right: 0px;
}
.header__logo {
    max-width: 90px;
    margin: 0px 10px;
}
.header__form-right {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
.search-form__field {
    border-bottom: 2px solid #09A66D;
    color: #FFFFFF;
}
.search-form__field::placeholder {
    color: #FFFFFF;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}
.search-form__submit {
    padding: 10px 23px;
    color: #FFFFFF;
    background: #09A66D;
    border: 0;
    border-radius: 8px;
    letter-spacing: 1.3px;
}
.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
    background: #097e53;
}
.header-icon {
    display: flex;
}
.header-search {
    margin-right: 20px;
    background-color: #F3FBF8;
    border-radius: 50%;
    padding: 8px;
    width: 41px;
    height: 41px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
.header-search-thumb {
    margin: 1px 0px 0px 1px;
}
.header-busket {
    margin-right: 32px;
    background-color: #F3FBF8;
    border-radius: 50%;
    padding: 8px;
}
.header-login {
    margin-right: 20px;
    background-color: #F3FBF8;
    border-radius: 50%;
    padding: 8px;
    width: 41px;
    height: 41px;
    display: none;
}
/* Header styles end */

/* Fruit Vegetables styles start */
.fruveg {
    background-color: #F3FBF8;
    padding-top: 79px;
    margin: 0 auto;
}
.fruveg__top {
    position: relative;
    text-align: center;
}
.fruveg__title {
    text-align: center;
    margin-bottom: 20px;
}
.fruveg__subtitle {
    max-width: 638px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.card-order {
    display: inline-block;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    align-items: center;
    color: #222222;
    text-decoration: none;
    background: url(./Organicfoodsvg/veg-fru_arrow.svg) no-repeat 95% center;
    transition: .2s all;
    padding: 25px 112px 25px 10px;
}
.fruveg__card-order:hover, .fruveg__card-order:focus {
    background: url(./Organicfoodsvg/veg-fru_arrow.svg) no-repeat right center;
}
.fruveg-pic-melientha {
    position: absolute;
    top: -18vh;
    left: -13vh;
}
.fruveg__bottom {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
    gap: 50px;
}
.fruveg-pic {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}
.fruveg-pic-big {
    max-width: 820px;
    width: 100%;
    height: auto;
}
.fruveg-pic-big-mob {
    display: none;
}
.fruveg__bottom-stat-right {
    text-align: center;
}
.fruveg__grid-stat {
    display: flex;
    max-width: 250px;
    padding: 17px 46px 17px 33px;
    background-color: #FFFFFF;
}
.fruveg__grid-stat-order, .fruveg__grid-stat-star {
    margin-bottom: 30px;
}
.fruveg__grid-stat-white {
    display: flex;
    text-align: center;
    flex-direction: column;
}
.fruveg__grid-stat-user-value {
    font-size: 48px;
    line-height: 48px;
    font-family: 'DM Sans';
    font-weight: 400;
    color: #000000;
}
.fruveg__grid-stat-user-title {
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-family: 'DM Sans';
    font-weight: 400;
    color: #000000;
}
.fruveg__grid-stat-pic {
    padding-right: 25px;
    display: flex;
}
.fruveg__grid-stat-pic-build {
    align-items: center;
    max-width: 56px;
}
.fruveg__grid-stat-user {
    padding-bottom: 4px;
    padding-right: 10px;
}
/* Fruit Vegetables styles end */


/* The best styles start */
.thebest__top {
    margin-top: 125px;
    margin-bottom: 20px;
    position: relative; 
}
.thebest__right-vector {
    position: absolute;
    top: -26vh;
    left: 42vh;
    z-index: -99;
}
.thebest__subtitle {
    max-width: 671px;
    margin-bottom: 60px;
}
.thebest__desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.thebest__left-cards {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-bottom: 50px;
}
.thebest__left-card {
    display: flex;
    flex-direction: row;
    padding-left: 59px;
    padding-top: 20px;
}
.thebest__left-card-green {
    background-color: #F3FBF8;
    padding: 40px 59px;
    max-width: 500px;
}
.thebest__left-card-pic-text {
    font-family: 'DM Sans';
    font-style: normal;
    max-width: 278px;
}
.thebest__left-card-pic {
    margin-right: 24px;
}
.thebest__left-card-pic-h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
}
.thebest__left-card-pic-h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
}
.thebest__left-card-arrow {
    display: flex;
    background: no-repeat 95% center;
    transition: .2s all;
    justify-content: center;
}
.thebest__left-card-arrow:hover, .thebest__left-card-arrow:focus {
    background: no-repeat right center;
}
.thebest__right {
    width: 42.26%;
}
.thebest__right-man {
    margin-bottom: 146px;
    width: 100%;
    text-align: right;

}
/* The best styles end */


/* Explor styles start */
.wrapper__explor {
    max-width: 1370px;
}
.explor {
    background-color: #F3FBF8;
}
.explor__flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 50px;
    padding-left: max(calc((100% - 1240px) / 2));
}
.explor__left-pic {
    display: flex;
    flex-shrink: 0;
    margin-top: 75px;
    margin-bottom: 144px; 
}
explor__left-pic-big {
    max-width: 600px;
    width: 100%;
    height: auto;
}
.explor__right {
    width: calc(100% - 48.4% - 50px);
}
.explor__right-top {
    max-width: 574px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    flex-direction: column;
}
.explor__title {
    margin-top: 120px;
    margin-bottom: 20px;
}
.explor__subtitle {
    margin-bottom: 50px;
}
.explor__right-bottom {
    display: flex;
}
.explor__right-bottom-images {
    position: relative;       
}
.explor__right-bottom-content {
    margin-right: 50px;
}
.card-order-explor {
    padding: 25px 115px 25px 0px;
    white-space: nowrap;
}
/* Explor styles end */

/* Customers styles start */
.сustomers__grid {
    display: grid;
    grid-template-columns: 0.55fr 0.44fr;
    column-gap: 100px;
    /*display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    margin-bottom: 140px;*/
    justify-content: space-between;
    margin-top: 81px;
}
.сustomers__title {
    /*margin-top: 96px;
    width: 57vw;*/
    margin-bottom: 30px;
   /* max-width: 640px;*/
}
.сustomers__subtitle {
    max-width: 586px;
    margin-bottom: 40px;
}
.сustomers__right {
    position: relative;
}
.сustomers__right-man {
    margin-top: 41px;
   /* margin-bottom: 75px;*/
}
.сustomers__left {
    /*width: 59vw;
    max-width: 650px;*/
}
.сustomers__right-pic {
    width: auto;
   /* max-width: 500px;*/
}
.сustomers__left-arrow-name {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 10px;
}
.сustomers__cards-order-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-height: 170px;
    max-width: 466px;
    padding: 10px 10px 10px 0px;
}
.сustomers__left-arrow-star {
    padding: 2px 2px 2px 0px;
}
.сustomers__cards-order {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 26px;
}
.сustomers__cards-order-right {
    position: relative;
}
.сustomers__cards-order-left {
    position: relative;
}
.сustomers__card-order-right {
    width: 56px;
    height: 56px;
    background-color: #09A66D;
    border-radius: 50%;
    display: inline-flex;
    cursor: pointer;
}
.сustomers__card-order-left {
    width: 56px;
    height: 56px;
    background-color: #09A66D;
    border-radius: 50%;
    display: inline-flex;
    cursor: pointer;
}
.сustomers__card-order-left::before {
    content: '';
    width: 13px;
    height: 13px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    transform: rotate(-45deg);
    top: 22px;
    left: 23px;
    position: absolute;
}
.сustomers__card-order-right::before {
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);
    top: 22px;
    left: 20px;
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
}
.сustomers__card-order-left:hover {
    background-color: #FFFFFF;
    outline: 1px solid #ccc;
    transition: .2s all;
}
.сustomers__card-order-right:hover {
    background-color: #FFFFFF;
    outline: 1px solid #ccc;
    transition: .2s all;
}
.сustomers__card-order-left:hover::before {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.сustomers__card-order-right:hover::before {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.сustomers__right-stat-value {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -13vh;
    left: 0;
    padding: 11px 35px 11px 21px;
    border-radius: 12px;
    background-color: #FFFFFF;
    max-width: 220px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.сustomers__right-pic-stars {
    margin-bottom: 10px;
}
/* Customers styles simple rating start */
.customer__simple-rating {
    position: relative;
    font-size: 22px;
    display: inline-block;
    margin-right: 145px;
    width: 135.2px;
}
.customer__simple-rating::before {
    content: "★ ★ ★ ★ ★";
    display: block;
}
.customer__simple-rating-items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}
.customer__simple-rating-item {
    position: absolute;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: 0; 
}
.customer__simple-rating-label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #FFFFFF;
    width: 200px;
    flex-direction: space-between;
}
.customer__simple-rating-label::before {
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;
    }
.customer__simple-rating-item:checked,
.customer__simple-rating-item:checked ~ .customer__simple-rating-label {
    color: #F1B90B;
}
.customer__simple-rating-label:hover,
.customer__simple-rating-label:hover ~ .customer__simple-rating-label,
.customer__simple-rating-label:checked ~ .customer__simple-rating-label:hover {
    color: #ffef9f;
}
/* Customers styles simple rating end */

/* Customers styles rating start */
.сustomers__rating {
    display: flex;
    align-items: flex-end;
    font-size: 22px;
    line-height: 0.75;
}
.сustomers__rating__body {
    position: relative;
}
.сustomers__rating__body::before {
    content: "★ ★ ★ ★ ★";
    display: block;
}
.сustomers__rating__active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.сustomers__rating__active::before {
    content: "★ ★ ★ ★ ★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #F1B90B;
}
.сustomers__rating__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.customers__rating__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}
.сustomers__rating__value {
    font-size: 50%;
    line-height: 1;
    padding: 0px 0px 0px 10px;
}
/* Customers styles rating end */

/* Customers styles left__rating start */
.customer__left__simple-rating {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 86.1px;
    margin-bottom: 10px;
}
.customer__left__simple-rating::before {
    content: "★ ★ ★ ★ ★";
    display: flex;
}
.customer__left__simple-rating-items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}
.customer__left__simple-rating-item {
    position: absolute;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: 0; 
}
.customer__left__simple-rating-label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #FFFFFF;
    width: 200px;
    flex-direction: space-between;
}
.customer__left__simple-rating-label::before {
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;
    }
.customer__left__simple-rating-item:checked,
.customer__left__simple-rating-item:checked ~ .customer__left__simple-rating-label {
    color: #F1B90B;
}
.customer__left__simple-rating-label:hover,
.customer__left__simple-rating-label:hover ~ .customer__left__simple-rating-label,
.customer__left__simple-rating-label:checked ~ .customer__left__simple-rating-label:hover {
    color: #ffef9f;
}
/* Customers styles left__rating end */
/* Customers styles end */

/* Simple way styles start */
.simpleway__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 112px; 
    margin-top: 75px;
    margin-bottom: 140px;
}
.simpleway__left-bigpic {
    display: flex;
    margin-left: 100px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}
.simpleway__right {
    margin-top: 17px;
}
.simpleway__right-submit {
    padding: 11px 24px;
    border-radius: 50px;
    border: none;
    background-color: #F3FBF8;
    max-width: 170px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 16px;
}
.simpleway__title {
    margin-bottom: 20px;
}
.simpleway__subtitle {
    margin-bottom: 50px;
}
.simpleway__right-icon {
    margin-top: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
}
/* Simple way styles end */

.footer {
    background-color: #F3FBF8;
}
.footer__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 50px 15px 43px 15px;
    max-width: 1270px;
    margin: 0 auto;
    gap: 50px;
}
.footer__logo-pic {
    margin-bottom: 30px;
}
.footer__p {
    max-width: 346px;
}
.footer__nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;
}
.footer__menu {
    flex: 1 1 calc((100% / 3) - 2rem);
}
.footer__menu-title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #222222;
    margin-bottom: 30px;
}
.footer__menu-link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 45px;
    color: #555555;
    text-decoration: none;
}
.footer__menu-link-email {
    color: #222222;
}
.footer__menu-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 172px;
}
@media (max-width: 1100px) {
    .footer__item {
        max-width: 790px;
    }
    .footer__logo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0px auto;
        gap: 40px;
    }
    .footer__logo-pic {
        margin-bottom: 0px;
    }
    .footer__p {
        max-width: 630px;
    }
    .footer__nav {
        margin: 0 auto;
        gap: 50px;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        padding: 30px;
    }
    .header__wrapper {
        padding: 15px;
    }
    .fruveg {
        padding-top: 40px;
    }
    .title {
        font-size: 50px;
        line-height: 60px;
    }
    .subtitle {
        font-size: 16px;
    }
    .fruveg-pic-melientha {
        max-width: 400px;
        top: -18vh;
        left: -5vh;
    }
    .fruveg__bottom {
        padding-left: 30px;
        padding-right: 30px;
    }
    .fruveg-pic-big {
        max-width: 600px;
        vertical-align: middle;
    }
    .fruveg__grid-stat-user-value {
        font-size: 38px;
    }
    .fruveg__grid-stat-user {
        padding-bottom: 0px;
        padding-right: 0px;
    }
    .fruveg__grid-stat-user-title {
        font-size: 14px;
    }
    .fruveg__grid-stat {
        padding: 12px 17px;
    }
    .thebest__top {
        margin-top: 40px;
    }
    .thebest__subtitle {
        margin-bottom: 40px;
    }
    .thebest__left-cards {
        gap: 30px;
        padding-bottom: 30px;
    }
    .thebest__left-card {
        padding-left: 29px;
        padding-top: 20px;
    }
    .thebest__left-card-green {
        padding: 20px 29px;
    }
    .thebest__left-card-pic {
        margin-right: 20px;
    }
    .thebest__left-card-pic-h2 {
        font-size: 18px;
    }
    .thebest__left-card-pic-h3 {
        font-size: 12px;
    }
    .thebest__right-man {
        margin-bottom: 50px;
        max-width: 450px;
    }
    .wrapper__explor {
        max-width: 1024px;
    }
    .explor__flex {
        gap: 0;
        padding-left: max(calc((100% - 964px) / 2));
        margin-top: 30px;
    }
    .explor__left-pic {
        margin: 0px 30px 0px 30px;
        max-width: 450px;
        max-height: 450px;
    }
    .explor__right {
        width: calc(100% - 400px - 50px);
    }
    .explor__right-top {
        max-width: 574px;
        margin-top: 30px;
    }
    .explor__title {
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .explor__subtitle {
        margin-bottom: 30px;
    }
    .explor__right-bottom-content {
        margin-right: 10px;
    }
    .card-order-explor {
        padding: 25px 95px 25px 0px;
        font-size: 16px;
    }
    .сustomers__grid {
        margin-top: 30px;
        column-gap: 0px;
    }
    .сustomers__title {
        margin-bottom: 10px;
    }
    .сustomers__subtitle {
        max-width: 400px;
        margin-bottom: 30px;
    }
    .сustomers__left-arrow {
        max-width: 400px;
    }
    .сustomers__left-arrow-name {
        font-size: 24px;
        line-height: 30px;
    }
    .сustomers__cards-order-bottom {
        max-height: 150px;
        max-width: 350px;
        padding: 0px 10px 10px 0px;
    }
    .customer__simple-rating {
        margin-right: 55px;
    }
    .сustomers__right-man {
        margin-top: 41px;
    }
    .сustomers__right-stat-value {
        top: -11.5vh;
        padding: 8px 25px 8px 16px;
        max-width: 220px;
        width: 100%;
    }
    .simpleway__grid {
        column-gap: 70px; 
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .simpleway__right {
        max-width: 500px;
    }
    .simpleway__left-bigpic {
        margin-left: 70px;
    }
    .simpleway__title {
        margin-bottom: 20px;
    }
    .simpleway__subtitle {
        margin-bottom: 30px;
    }
}
@media (max-width: 965px) {
    .wrapper {
        max-width: 995px;
    } 
    .fruveg-pic-melientha {
        display: none;
    }
    .fruveg__bottom-stat-right {
        flex-direction: row;
        text-align: center;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }
    .fruveg__grid-stat-order, .fruveg__grid-stat-star {
        margin-bottom: 0px;
    }
    .explor__left-pic {
        width: 50%;
    }
    .explor__right-bottom-images {
        display: none;  
    }
    .explor__right-bottom {
        Margin: 0 auto;
        Text-align: center;
    } 
    .сustomers__right-man {
        margin-top: 110px;
    }
    .simpleway__right {
        margin-top: 0px;
    }
}
@media (max-width: 850px) {
    .header__nav__burger  {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    .header__nav__burger:before,
    .header__nav__burger:after {
        content: '';
        background-color: #09A66D;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__nav__burger:before {
        top: 0;
    }
    .header__nav__burger:after {
        bottom: 0;
    }
    .header__nav__burger span {
        position: absolute;
        background-color: #09A66D;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__nav__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__nav__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__nav__burger.active span {
        transform: scale(0);
    }
    .header__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0px;
    }
    .header__wrapper:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
    }
    .header__logo { 
       margin: 0px;
    }
    .header__form-right {
        margin: 0 auto;
        gap: 50px;
    }
    .header__nav {
        position: absolute;
        top: 85px;
        right: 0px;
        transition: all 0.3s ease 0s;
        overflow: auto;
        padding: 0px 30px 15px 30px;
        display: none;
    }
    .header__nav.active {
        top: 85px;
        background-color: #FFFFFF;
        padding: 0px 30px 15px 30px;
        display: block;
        z-index: 1;
    }
    .header__list {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        max-width: 850px;
    }
    .header-search {
        margin-right: 30px;
    }
    .header__item {
        margin-right: 0px;
        margin-left: auto;
    }
    .header__link {
        color: #09A66D;
    }
    .thebest__left {
        width: 50%;
    }
    .footer__item {
        gap: 25px;
    }
    .footer__p {
        max-width: 565px;
    }
}
@media (max-width: 768px) {
    .wrapper {
        padding: 25px;
    }
    .fruveg {
        padding-top: 0px;
    }
    .fruveg-pic-melientha {
        top: -6vh;
    }
    .card-order {
        font-size: 24px;
    }
    .thebest__top {
        margin-top: 20px;
    }
    .thebest__subtitle {
        margin-bottom: 20px;
    }
    .thebest__desc {
        align-items: center;  
    }
    .thebest__left-cards {
        gap: 0px;
        padding-bottom: 0px;
        /*max-width: 360px;*/
    }
    .thebest__left-card {
        padding: 20px 29px;
    }
    .thebest__left-card-pic {
        margin-right: 20px;
        text-align: center;
        vertical-align: middle;
        align-items: center;
    }
    .thebest__left-card-pic-h2 {
        font-size: 18px;
    }
    .thebest__left-card-pic-h3 {
        font-size: 14px;
    }
    .thebest__right-man {
        margin-bottom: 0px;
       /* max-width: 320px;*/
    }
    .thebest__right-vector {
        max-width: 500px;
        top: -8vh;
        left: 24vh;
    }
    .wrapper__explor {
        max-width: 768px;
    }
    .explor__flex {
        gap: 0;
        padding-left: 0px;
        margin-top: 30px;
        flex-direction: column;
    }
    .explor__left-pic {
        margin: 0px auto;
        width: 100%;
        height: auto;
    }
    .explor__right {
       /* width: calc(100% - 60px);
        margin: 0px 30px 0px 30px;*/
        margin: 0 auto;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .explor__right-top {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .explor__title {
        margin-bottom: 10px;
        margin-top: 30px;
    }
    .explor__subtitle {
        margin-bottom: 30px;
    }
    .explor__right-bottom {
        margin: 0 auto;
        text-align: center;
    }
    .explor__right-bottom-content {
        margin-right: 10px;
    }
    .explor__right-pic-melien {
        max-width: 250px;
        height: auto;
        margin-left: 30px;
    }
    .card-order-explor {
        padding: 25px 145px 25px 0px;
        font-size: 24px;
    }
    .сustomers__grid {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }
    .сustomers__title {
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 10px;
        width: auto;
        max-width: 80%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .сustomers__subtitle {
        max-width: 708px;
        margin-bottom: 40px;
    }
    .сustomers__left {
        width: 100%;
        max-width: 708px;
        text-align: center;
    }
    .сustomers__left-arrow {
        max-width: 500px;
        text-align: center;
        margin: 0 auto;
    }
    .сustomers__left-arrow-name {
        font-size: 28px;
        line-height: 30px;
        padding-bottom: 20px;
    }
    .сustomers__cards-order-bottom {
        max-height: 150px;
        max-width: 500px;
        padding: 0px 10px 10px 0px;
        justify-content: space-between;
    }
    .customer__simple-rating {
        margin-right: 0px;
        font-size: 28px;
        width: 172.3px;
    }
    .сustomers__right-pic {
        width: 100%;
    }
    .сustomers__right-man {
        margin-top: 0px;
        max-width: 100%;
    }
    .customer__left__simple-rating {
        font-size: 18px;
        width: 110.5px;
        margin-bottom: 12px;
    }
    .сustomers__right-stat-value {
        top: -13vh;
        padding: 11px 25px 11px 25px;
        max-width: 240px;
        width: 100%;
    }
    .сustomers__card-order-right, .сustomers__card-order-left {
        width: 66px;
        height: 66px;
    }
    .сustomers__card-order-left::before {
        width: 16px;
        height: 16px;
        border-top: 2px solid white;
        border-left: 2px solid white;
        top: 24px;
        left: 26px;
    }
    .сustomers__card-order-right::before {
        width: 16px;
        height: 16px;
        border-top: 2px solid white;
        border-right: 2px solid white;
        top: 24px;
        left: 22px;
    }
    .simpleway__grid {
        column-gap: 70px; 
        margin: 0px 30px 30px 30px;
        align-items: center;
    }
    .simpleway__right {
        max-width: 500px;
        margin-top: 0px;
    }
    .simpleway__left-bigpic {
        margin-left: 0px;
    }
    .simpleway__left-pic {
        max-width: 220px;
    }
    .simpleway__title {
        margin-bottom: 20px;
    }
    .simpleway__subtitle {
        margin-bottom: 30px;
    }
    .simpleway__right-submit {
        padding: 20px 26px;
        font-size: 24px;
        max-width: 300px;
    }
    .simpleway__right-appicon, .simpleway__right-googleicon {
        width: 150px;
    }
    .footer__logo {
        margin-bottom: 30px;
    }
    .footer__p {
        max-width: 76%;
    }
    .footer__menu-title {
        margin-bottom: 10px;
    }
}

@media (max-width: 550px) {
    .main {
        margin: 0 auto;
    }
    .title {
        font-size: 40px;
        line-height: 45px;
    }
    .subtitle {
        font-size: 16px;
        line-height: 25px;
    }
    .header__item {
        margin-right: 30px;
    }
    .header__form-right {
        gap: 0;
    }
    .header-login {
        display: block;
        margin-right: 0px;
    }
    .search-form {
        display: none;
    }
    .fruveg__grid-stat-user-value {
        text-align: center;
        align-items: center;
    }
    .fruveg__grid-stat-user-title {
        font-size: 20px;
        text-align: center;
        align-items: center;
    }
    .fruveg__grid-stat {
        width: 100%;
        max-width: 350px; 
        margin: 0 auto; 
    }
    .fruveg__grid-stat-user {
        font-size: 46px;
        text-align: center;
        align-items: center;
        display: flex;
        margin: 0 auto;
    }
    .fruveg__grid-stat-white {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
        text-align: center;
        align-items: center;
    }
.fruveg-pic-big {
    display: none;
}
.fruveg-pic-big-mob {
    display: block;
    max-width: 500px;
    vertical-align: middle;
}
    .thebest__top {
        text-align: center;
    }
    .thebest__left, .thebest__right {
        margin: 0 auto;
        padding-bottom: 30px;
        width: 100%;
    }
    .thebest__right-vector {
        display: none;   
    }
    .thebest__right-man {
        margin: 0 auto;
        text-align: center;
    }
    .thebest__left-cards {
        max-width: 500px;
    }
    .explor__flex {
        margin-top: 0px;
    }
    .explor__right {
        display: flex;
        flex-direction: column;
        Margin: 0 auto;
        Text-align: center;
    }
    .explor__right-bottom-content {
        margin-right: 0px;
        justify-content: space-between;
    }
    .card-order-explor {
        padding: 25px 115px 25px 0px;
        justify-content: space-between;
    }
    .сustomers__title {
        width: 100%;
    }
    .сustomers__left {
        margin: 0 auto;
        text-align: center;
    }
    .сustomers__cards-order {
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
    }
    .customer__simple-rating {
        margin-right: 0px;
        margin: 0 auto;
        text-align: center;
    }
    .сustomers__right-man {
       max-width: 80%;
       margin: 0 auto;
    }
    .simpleway__grid {
        display: flex;
        flex-direction: column;
        column-gap: 0px; 
    }
    .simpleway__left-bigpic {
        margin-bottom: 30px;
    }
    .simpleway__right {
        margin: 0 auto;
        Text-align: center;
    }
    .simpleway__right-icon {
        justify-content: space-evenly;
    }
    .footer__item {
        padding: 15px 15px 23px 15px;
    }
    .footer__p {
        max-width: 67%;
    }
    .footer__nav {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .footer__nav {
        gap: 40px;
    }
}

@media (max-width: 506px) {
    .header__wrapper {
        grid-template-columns: 0.75fr 100px 1.25fr;
        grid-template-areas: "a b c";
        grid-template-rows: none;
    }
    .header__nav {
        grid-area: a;
        margin-bottom: 0px;
        justify-self: start;
    }
    .header__list {
        flex-direction: column;
        text-align: left;
    }
    .header__item {
        margin-right: 0px;
    }
    .header-icon {
        margin-left: auto;
        margin-right: 0;
    }
    .search-form {
        margin-left: auto;
        margin-right: 0;
    }
    .fruveg__bottom {
        padding: 0;
    }
    .fruveg__grid-stat-pic {
        padding-right: 15px;
    }
    .fruveg__grid-stat-white {
        gap: 20px;
    }
    .fruveg__grid-stat-user {
        font-size: 40px;
    }
    .сustomers__wrapper {
        padding: 30px 30px 0px 30px;
    }
    .customer__simple-rating {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .сustomers__cards-order-bottom {
        gap: 15px;
    }
    .сustomers__cards-order {
        margin: 0 auto;
        gap: 15px;
    }
    .simpleway__right-submit {
        padding: 24px 36px;
        font-size: 28px;
    }
    .explor__right {
        margin: 0 auto;
        width: 100%;
    }
    .simpleway__grid {
        margin: 0 auto;
    }
    .сustomers__grid {
        margin: 0 auto;
    }
    .footer__p {
        max-width: 100%;
    }
    .footer__nav {
        gap: 20px;
    }

}
@media (max-width: 360px) {
    .wrapper {
        padding: 20px;
    }
    .header__logo {
        margin: 0px;
    }
   /* .header__nav__burger {
        margin-top: 15px;
    }
    .header__nav {
        left: 0px;
    }
    .header__nav.active {
        top: 120px;
    }*/
    .header__item {
        margin-right: auto;
        margin-left: 0;
    }
    .header__item-burger {
        display: flex;
    }
    .header__item-burger:last-child {
        margin-bottom: 10px;
    }
    .header-icon {
        display: none;
    }
    .fruveg__grid-stat {
        width: 90%;
        max-width: 300px; 
        margin: 0 auto; 
    }
    .fruveg__grid-stat-pic {
        margin: 0 auto;
    }
    .fruveg__grid-stat-white {
        flex-direction: column;
        margin: 0 auto;
    }
    .fruveg__grid-stat-user-value {
        font-size: 34px;
    }
    .fruveg__grid-stat-user-title {
        font-size: 18px;
    }
    .footer__nav {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0px;
    }
}
